<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="hibernate.xml"/>
    <import resource="batchContext.xml"/>

    <!-- Services -->
    <bean id="gameService" class="com.objectpartners.sbdemo.service.GameServiceImpl">
        <property name="gameDao" ref="gameDao" />
    </bean>

    <bean id="teamService" class="com.objectpartners.sbdemo.service.TeamServiceImpl">
        <property name="teamDao" ref="teamDao" />
    </bean>

    <!-- DAO's -->
    <bean id="teamDao" class="com.objectpartners.sbdemo.dao.TeamDaoImpl" />
    <bean id="gameDao" class="com.objectpartners.sbdemo.dao.GameDaoImpl" />
</beans>