<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="sbdemo.properties" />

    <import resource="hibernate.xml"/>
    <import resource="batchContext.xml"/>

    <!-- Service -->
    <bean id="sbdemoService" class="com.objectpartners.sbdemo.service.SbdemoServiceImpl" >
        <property name="gameDao" ref="gameDao" />
        <property name="teamDao" ref="teamDao" />
    </bean>

    <!-- DAO's -->
    <bean id="teamDao" class="com.objectpartners.sbdemo.dao.TeamDaoImpl" />
    <bean id="gameDao" class="com.objectpartners.sbdemo.dao.GameDaoImpl" />
</beans>